<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testdict</key>
	<dict>
		<key>Bool</key>
		<true/>
		<key>testar</key>
		<array>
			<false/>
			<string>Test</string>
			<date>2011-08-09T20:45:48Z</date>
		</array>
	</dict>
</dict>
</plist>
