<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testdict</key>
	<dict>
		<key>teststr</key>
		<string>Test item...</string>
		<key>teststr2</key>
		<string>Test item 2...</string>
		<key>teststr3</key>
		<string>Test item 3...</string>
		<key>testArray</key>
		<array>
			<string>Test</string>
			<integer>13</integer>
			<false/>
		</array>
	</dict>
</dict>
</plist>
